@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

body {
    padding-top: 70px;
    color: white;
    background-color:red;
    background-color: #f5f5f5;
}

.custom-nav {
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    background-color: rgb(67, 134, 67);
}

.navbar-brand {
    padding-right: 100px;
    padding-left: 100px;
    /* width: 20%; */
}

.logout {
    float: right;
}

.form-group {
    margin: 0;
    width: 70%;
}

.logid-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    width: 20%;
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    height: 50px;
}

.form-control {
    width: 95%;
    height: 50px;
}

input{
  margin: 0%;
}

.response-container{
    border: #4caf50 1px solid;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

.service{
    border: red 1px solid;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-contianer{
   
    width: 15%;
    height: 100%;
    color: rgb(61, 53, 53);
    font-size: 20px;
    text-align: center;
}

.service-img{
width: 100%;
height: 90%;
}

.service-name{
    margin: auto;
   
}
.arrow{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.arrow-img{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
}
/* 
.textbox {
    display: flex;
    width: 50%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
*/

/*
.custom-file {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
}

.btn-style {
    font-size: 20px;
    margin: auto;
    width: 80%;
} */
