@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@namespace svg url(http://www.w3.org/2000/svg);
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

body {
    padding-top: 70px;
    color: white;
    background-color: red;
    background-color: #f5f5f5;
}

a {
    height: auto;
    margin: 0px;
    font-size: 30px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(67, 134, 67);
    color: white;
    text-align: center;
}

.custom-nav {
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    background-color: rgb(67, 134, 67);
}

.navbar-brand {
    padding-right: 100px;
    padding-left: 100px;
    /* width: 20%; */
}

.logout {
    float: right;
}

.form-group {
    margin: 0;
    width: 70%;
}

.logid-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-flex {
    display: flex;
    width: 100%;
}

.btn {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    height: 50px;
}

.form-control {
    width: 95%;
    height: 50px;
}

input {
    margin: 0%;
}

.response-container {
    display: none;
    border: #4caf50 1px solid;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

.service {
    border: red 1px solid;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-contianer {
    width: 15%;
    height: 100%;
    color: rgb(61, 53, 53);
    font-size: 20px;
    text-align: center;
}

.service-img {
    width: 100%;
    height: 90%;
}

.service-name {
    margin: auto;
}

.arrow {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
}

.nodes {
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.nodes-top {
    border: gray 1px solid;
    border-radius: 10px;
}

.nodes-header {
    display: flex;
    justify-content: space-around;
}

.nodes-header h3 {
    padding: 20px;
    border: gray 1px solid;
    border-radius: 10px;
}

svg {
    width: 85%;
    margin-left: 15%;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: rgb(33, 109, 30);
    stroke-width: 3px;
}

.node text {
    font: 20px;
}

.link {
    fill: none;
    stroke: rgb(199, 153, 25);
    stroke-width: 2px;
}

.service-detail {
    margin-top: 10px;
    margin-bottom: 50px;
}

.service-detail-header {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.summary {
    width: 50%;
    border: gray 1px solid;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}

.summary:hover {
    cursor: pointer;
    font-weight: bold;
}

.logs {
    border: gray 1px solid;
    border-radius: 20px 20px 0px 0px;
    width: 50%;
    padding: 10px;
}

.logs:hover {
    cursor: pointer;
    font-weight: bold;
}

.activate {
    background-color: rgb(197, 235, 173);
    font-weight: bold;
    border-bottom: none;
}

.de-activate {
    border: gray 1px solid;
}

.service-detail-body-summary {
    background-color: rgb(197, 235, 173);
    border: gray 1px solid;
    border-top: none;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
    overflow: scroll;
}

.service-detail-body-logs {
    background-color: rgb(197, 235, 173);
    border: gray 1px solid;
    border-top: none;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
    overflow: scroll;
    display: none;
}

table {
    border-radius: 20px;
    border: gray 1px solid;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.align-center {
    text-align: center;
    border: gray 1px solid;
}

td {
    padding: 10px;
    border: gray 1px solid;
    /* overflow: scroll; */
}

th {
    width: 50%;
    padding: 10px;
    padding-left: 20px;
    border: gray 1px solid;
}

#service-detail-body-logs-table {
    margin-left: 20px;
    margin-right: 20px;
}