<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Puller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/dashboard.css}" href="../static/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top custom-nav">
        <a class="navbar-brand" style="color: white" href="#" th:href="@{/dashboard}">Log Puller</a>
        <a class="navbar-brand logout" style="color: white" href="#" th:href="@{/logout}">Logout</a>
    </nav>

    <div class="alert alert-info" th:if="${message}">
        <h2 th:text="${message}" />
    </div>

    <div class="alert alert-danger" th:if="${error}">
        <h2 th:text="${error}" />
    </div>

    <div class="hideLoader" id="loader"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-5 button-flex">

                <form class="logid-form" th:action="@{/getLog}">
                    <div class="form-group">
                        <!-- <label for="logId"></label> -->
                        <input type="text" class="form-control" id="logId" placeholder="Request Id" th:name="logId" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Get Logs</button>
                </form>
                <a class="download-form fa fa-download " th:if="${nodes ne null}" th:href="@{|/download?logId=${nodes.logId}|}">Download</a>

            </div>
        </div>
    </div>

    <div class="nodes" th:if="${nodes ne null}">


        <div class="nodes-top">
            <div class="nodes-header">
                <h3>Request Id : <span th:text="${nodes.logId}">Request Id </span></h3>
                <h3>Service Name : <span th:text="${nodes.serviceName}">Service Name</span></h3>
            </div>
            <div class="node-tree"></div>

            <script th:inline="javascript">
                var treeData = [
                    [$ {
                        nodes
                    }]
                ];
            </script>
            <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
            <!-- load the d3.js library -->
            <script type="text/javascript" th:src="@{js/tree.js}" src="../static/js/tree.js"></script>
        </div>

        <div class="service-detail">
            <div class="service-detail-header">
                <div class="summary activate" id="summary" onclick="activateSummary()">Summary</div>
                <div class="logs de-activate" id="logs" onclick="activatelogs()">Logs</div>
            </div>

            <div class="service-detail-body-summary" id="service-detail-body-summary">
                <table onload="displayData()">
                    <tr>
                        <th class="align-center">Fields</th>
                        <th class="align-center">Value</th>
                    </tr>

                    <tr>
                        <th>Service Name</th>
                        <td id="service-name-data"></td>
                    </tr>

                    <tr>
                        <th>Requester Id</th>
                        <td id="requester-id-data"></td>
                    </tr>

                    <tr>
                        <th>Log Id</th>
                        <td id="log-id-data"></td>
                    </tr>

                    <tr>
                        <th>Environment</th>
                        <td id="environment-data"></td>
                    </tr>

                    <tr>
                        <th>User Name</th>
                        <td id="user-name-data"></td>
                    </tr>

                    <tr>
                        <th>User Id</th>
                        <td id="user-id-data"></td>
                    </tr>

                    <tr>
                        <th>Tenant</th>
                        <td id="tenant-data"></td>
                    </tr>

                    <tr>
                        <th>Request URL</th>
                        <td id="url-data"></td>
                    </tr>

                    <tr>
                        <th>Request Body</th>
                        <td id="request-body-data"></td>
                    </tr>
                    <tr>
                        <th>Request Params</th>
                        <td id="request-params-data"></td>
                    </tr>

                    <tr>
                        <th>Response Body</th>
                        <td id="response-data"></td>
                    </tr>

                    <tr>
                        <th>Response Status Code</th>
                        <td id="status-code-data"></td>
                    </tr>

                    <tr>
                        <th>Response Status</th>
                        <td id="status-data"></td>
                    </tr>

                </table>
            </div>
            <div class="service-detail-body-logs" id="service-detail-body-logs">
                <table id="service-detail-body-logs-table">
                </table>
            </div>
        </div>

    </div>

    <div class="footer" th:if="${nodes ne null}">
        <p>Footer</p>
    </div>

</body>

</html>